

.form{
    background-color: rgba(189, 189, 199, 0.559);
    width:500px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}
.form-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-container div{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.form-container div input{
    margin-left: 10px;
    margin-top: 5px;
    height:40px;
    width:250px;
    border-style: none;
    border-radius: 3px;
}
